{% include "Inc/header.html" %}

{% for u in user%}

<div class="ui container">
    <h1 style="text-align: center;">Actualizar datos perfil</h1>

    <form action="" method="POST" class="ui form">
        {% csrf_token %}
        <div class="two fields">
            <div class="field">
                <label for="">Nombre De usuario</label>
                <input type="text" name="username" id=""  value="{{u.username}}" required>
            </div>
            <div class="field">
                <label for="">Password</label>
                <input type="password" name="password" id=""  value="{{u.password}}" required>
            </div>
        </div>



        <div class="three fields">
            <div class="field">
                <label for="">Nombres</label>
                <input type="text" name="nombres" id="" value="{{u.first_name}}" required>
            </div>
            <div class="field">
                <label for="">Apellidos</label>
                <input type="text" name="apellidos" id="" value="{{u.last_name}}" required>
            </div>
            <div class="field">
                <label for="">Email</label>
                <input type="email" name="email" id="" value="{{u.email}}" required>
            </div>
        </div>

        <div style="text-align: center;">
            <button class="ui green button" id="boton">Actualizar Usuario</button>
            
            <button class="ui red button"  onclick='borrarusuario("{{u.id}}")'>Eliminar Cuenta<i class="trash black icon"></i></button>
        </div>

    </form>


    {% endfor %}
</div>


<script>
    function borrarusuario(id){
    swal({
  title: "Estas seguro que quieres borrar tu cuenta?",
  text: "Si borras la cuenta, no podras recuperarla y deberas crear una nueva!",
  icon: "warning",
  buttons: ["Cancelar", true],
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    location.href = "/Usuario/borrar/" + id;
    swal("Tu cuenta se ha borrado exitosamente!", {
      icon: "success",
    });

  } else {
    swal("Tu cuenta no se va a borrar!");
  }
});
}
</script>
    

<script>
    document.getElementById("boton").addEventListener("click", function() {
      swal("¡Datos actualizados correctamente!");
    });
  </script>





{% include "Inc/footer.html" %} {% include "Inc/footer.html" %}