{% include "Inc/header.html" %}




{% if messages %}
{% for message in messages %}
<div id="mensaje" class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}
{% endif %}



<div class="ui container">

    <h1 style="text-align: center;">Actualizar datos perfil</h1>

    <form action="" method="POST" class="ui form">
        {% csrf_token %}
        <div class="two fields">
            <div class="field">
                <label for="">Nombre De usuario</label>
                <input type="text" name="username" id="" value="{{user.username}}" required>
            </div>
            <div class="field">
                <label for="">Password</label>
                <input type="password" name="password" id="" value="{{user.password}}" required>
            </div>
        </div>



        <div class="three fields">
            <div class="field">
                <label for="">Nombres</label>
                <input type="text" name="nombres" id="" value="{{user.first_name}}" required>
            </div>
            <div class="field">
                <label for="">Apellidos</label>
                <input type="text" name="apellidos" id="" value="{{user.last_name}}" required>
            </div>
            <div class="field">
                <label for="">Email</label>
                <input type="email" name="email" id="" value="{{user.email}}" required>
            </div>
        </div>




        <div style="text-align: center;">
            <button class="ui green button">Actualizar Usuario</button>


        </div>

    </form>


</div>







{% include "Inc/footer.html" %}